[submodule "external/zlib"]
	path = external/zlib
	url = https://github.com/madler/zlib.git
[submodule "external/curl"]
	path = external/curl
	url = https://github.com/curl/curl.git
[submodule "external/openal-soft"]
	path = external/openal-soft
	url = https://github.com/kcat/openal-soft.git
[submodule "external/vorbis"]
	path = external/vorbis
	url = https://github.com/xiph/vorbis.git
[submodule "external/flac"]
	path = external/flac
	url = https://github.com/xiph/flac.git
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "external/SFML"]
	path = external/SFML
	url = https://github.com/SFML/SFML.git
[submodule "external/imgui-sfml"]
	path = external/imgui-sfml
	url = https://github.com/SFML/imgui-sfml
[submodule "external/cpr"]
	path = external/cpr
	url = https://github.com/libcpr/cpr.git
